#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT     0
#define QWERTY      1
#define NUMBER      2
#define SIGN        3
#define VRC         4
#define GAME_SUB    5

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick-tap-ms = <200>; };

/ {


    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp TAB &kp LALT &kp W &kp Y &kp B &kp MINUS &kp G &kp M &kp D &kp F &kp BSPC
                &kp LSHIFT &kp O &kp I &kp E &kp A &kp U &none &kp R &kp T &kp K &kp N &kp S
                &kp LCTRL &kp Z &kp X &kp C &kp V &kp COMMA &to QWERTY &kp PERIOD &kp H &kp J &kp L &kp P &kp C_VOL_UP
                &kp ESC &kp LGUI &mo VRC &lt SIGN LANG2 &mt LSHIFT SPC &kp ENTER &lt NUMBER LANG1 &kp Q &kp RCTRL &kp C_VOL_DN>;
        };

        QWERTY_layer {
            bindings = <
                &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp BSPC
                &kp LSHIFT &kp A &kp S &kp D &kp F &kp G &to DEFAULT &kp H &kp K &kp K &kp L &kp P
                &kp LCTL &kp Z &kp X &kp C &kp V &kp B &none &kp N &kp M &kp COMMA &kp PERIOD &kp SLASH &kp C_VOL_UP
                &kp ESC &none &kp LALT &lt GAME_SUB LANG2 &kp SPC &kp ENTER &lt NUMBER LANG1 &none &none &kp C_VOL_DN>;
        };


        number_layer {
            bindings = <
                &kp SEMICOLON &kp EXCLAMATION &kp AT_SIGN &kp HASH &kp DOLLAR &kp PERCENT &kp CARET &kp PLUS &kp MINUS &kp ASTERISK &kp SLASH
                &kp COLON &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &none &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
                &kp QUESTION &kp F1 &kp F2 &kp F3 &kp F4 &kp COMMA &none &kp PERIOD &kp F9 &kp F10 &kp F11 &kp F12 &none
                &kp F5 &kp F6 &kp F7 &kp F8 &none &kp LSHIFT &none &kp RSHIFT &none &none>;
        };
        sign_layer {
            bindings = <
                &kp PAGE_UP &none &kp BSPC &kp UP &kp DEL &kp ENTER &kp GRAVE &kp SINGLE_QUOTE &kp DOUBLE_QUOTES &none &kp BACKSLASH
                &kp PAGE_DOWN &kp HOME &kp LEFT &kp DOWN &kp RIGHT &kp END &none &kp TILDE &kp MINUS &kp UNDERSCORE &kp EQUAL &kp NON_US_BSLH
                &none &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp AMPS &none &kp PIPE &kp LEFT_BRACE &kp RIGHT_BRACE &kp LESS_THAN &kp GREATER_THAN &none
                &none &none &none &none &none &none &none &none &none &none>;
        };
        vrc_layer {
            bindings = <
                &none &none &kp W &none &none &none &none &none &none &none &none
                &kp LSFT &kp A &kp S &kp D &kp SPC &none &none &none &none &none &none &none
                &none &kp Z &kp X &kp C &kp V &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none>;
        };
        game_sub_layer {
            bindings = <
                &none &none &none &none &none &none &none &none &none &none &none
                &none &kp N1 &kp N2 &kp N3 &kp N4 &none &none &none &none &none &none &none
                &none &none &none &kp M &kp I &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none>;
        };
    };
};